@model FPTBook.Models.Book

@{
    ViewData["Title"] = "Create Book";
    Layout = "_StoreOwnerLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Books/Index">
                            <i class="fa fa-book"></i> Manage Books
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Authors/Index">
                            <i class="fa fa-user"></i> Manage Authors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Publishers/Index">
                            <i class="fa fa-building"></i> Manage Publishers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Order/Index">
                            <i class="fa fa-shopping-cart"></i> Manage Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Categories/RequestCategory">
                            <i class="fa fa-list"></i> Request Category
                        </a>
                    </li>
                </ul>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-dark btn-block">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h2>Create Book</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorID" class="control-label">Author</label>
                    <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PublisherID" class="control-label">Publisher</label>
                    <select asp-for="PublisherID" class="form-control" asp-items="ViewBag.PublisherID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Poster" class="control-label"></label>
                    <input asp-for="Poster" type="file" name="myfile" class="form-control" />
                    <span asp-validation-for="Poster" class="text-danger"></span>
                    <p style="color: red;">@TempData["Mess"]</p>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID" class="control-label">Category</label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" min = 0 class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    <p style="color: red;">@TempData["Mess"]</p>

                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" min = 0 class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index"type="button" class="btn btn-warning" >Back to List</a> |  
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
