@{
    ViewData["Title"] = "About us";
}

<!-- Content page -->
<section class="bg0 p-t-120 p-b-80">
    <div class="container">
        <div class="row p-b-20">
            <div class="col-md-25 col-lg-25">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h2 class="text-center mtext-111 cl2 p-b-16">
                        Our Story
                    </h2>

                    <p class="stext-113 cl6 p-b-26">
                        Dear readers, we offer a tremendous gathering of books in the various classifications of 
                        Fiction, Non-fiction, Biographies, History, Religions, Self – Help, 
                        and Children. We likewise move in immense accumulation of Investments and Management, 
                        Computers, Engineering, Medical, College and School content references books proposed 
                        by various foundations as scheduled the nation over. Other than this, we likewise offer 
                        an expansive gathering of E-Books at reasonable valuing.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        We endeavor to broaden consumer loyalty by providing food with simple easy using web indexes, 
                        brisk and easy-to-understand installment alternatives, and snappier conveyance frameworks. 
                        Upside to the majority of this, we are arranged to give energizing offers and charming limits on our books.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Too, we modestly welcome every one of the merchants around the nation to band together with us. 
                        We will without a doubt give you the stage to many shimmering areas and develop the “FPTBook” family. 
                        We might want to thank you for shopping with us. You can keep in touch with us for any new musings 
                        at fptbookstore@gmail.com helping us to ad-lib for the peruser fulfillment. 
                        Any questions? Let us know in store at 160, 30/4 street, An Phu, Ninh Kieu, Can Tho City, 900000, Viet Nam or call us
                        on (+1) 96 716 6879
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Map -->
<div class="map">
    <div class="size-303" id="google_map" data-map-x="10.028964953070254" data-map-y="105.77765233365353" data-pin="../images/icons/logomap.png"
        data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
</div>