@{
    ViewData["Title"] = "AddBook";
}
<div class="login-main-container" style="padding-left: 12rem;">
                        <div class="thankyou-wrapper" style="text-align: center;">
                            <h1><img src="~/images/sorry.jpg" alt="thanks" /></h1>
                            <p>ADD TO CART SUCCESSFULLY</p>
                            <a class="flex-c-m stext-101 cl0 size-101 bg3 bor14 hov-btn3 p-md-2 trans-04 pointer" href="/">Back to home</a>
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                </div>  