                
<section>
<div class="container">
        <div class="row p-b-20">
            <!-- Shoping Cart -->
            <div class="bg0 p-t-20 p-b-85">
                <div class="container">
                    <div class="login-main-container" style="padding-left: 12rem; padding-top: 9rem">
                        <div class="thankyou-wrapper" style="text-align: center;">
                            <h1><img src="~/images/sorry.jpg" alt="thanks" /></h1>
                            <p>You don't have anything in your cart yet. Add products to the cart now!!!</p>
                            <a class="flex-c-m stext-101 cl0 size-101 bg3 bor14 hov-btn3 p-md-2 trans-04 pointer" href="/">Back to home</a>
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                </div> 
            </div>
        </div>
    </div>
</div>              
</section>         
                
                   