@{
    ViewData["Title"] = "PlaceOrder";
}
<section class="bg0 p-t-120 p-b-80">
    <div class="container">
        <section class="login-main-wrapper">
            <div class="main-container">
                <div class="login-process">
                    <div class="login-main-container">
                        <div class="thankyou-wrapper">
                            <h1><img src="~/images/thankyou.png" alt="thanks" /></h1>
                            <p>Thank you for choosing our store. Your order will be delivered to you soon!!!</p>
                            <a class="flex-c-m stext-101 cl0 size-101 bg3 bor14 hov-btn3 p-md-2 trans-04 pointer" href="/">Back to home</a>
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </section>
    </div>
</section>