@{
    ViewData["Title"] = "Register";
}
<section class="vh-100 p-t-120 p-b-40">
    <div class="container py-5 h-100">
        <section>
            <h2 class="text-center mb-2 pb-2 text-body fw-bold"><strong>Are you ready to enter the land of knowledge?</strong></h2>
            <p class="text-center mb-4" style="font-size: 20px">
                According to educational news, reading is the most effective and practical self-study method that anyone can do. Cultivating the habit of reading books will bring great benefits; is a good habit that helps our brain stay healthy and flexible and many other benefits
            </p>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-14 col-md-10 col-lg-6 col-xl-7">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">

                            <h3 class="mb-4 text-center">Sign up</h3>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="fullname"><strong>Fullname</strong></label>
                                <input type="text" id="fullname" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="address"><strong>Home address</strong></label>
                                <input type="text" id="address" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email"><strong>Email</strong></label>
                                <input type="email" id="email" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password"><strong>Password</strong></label>
                                <input type="password" id="password" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="repassword"><strong>Re-password</strong></label>
                                <input type="password" id="repassword" class="form-control form-control-lg" />
                            </div>

                            <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>