@model FPTBook.Models.Category

@{
    ViewData["Title"] = "Edit Category";
    Layout = "_AdminLayout";
}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li class=""><a href="/UserRoles/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage User</a></li>

            <li class=""><a href="/RoleManager/Index"><em class="fa fa-dashboard">&nbsp;</em> Add Role</a></li>

            <li class="active"><a href="/Categories/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Category</a></li>
            <br><br><br><br><br><br><br><br>

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nnav-link text-dark">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h2>Confirm Category</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-1">
            <font size="5px">
                @Html.DisplayNameFor(model => model.Name)
            </font>
        </dt>
        <dd class="col-sm-1">
            <font size="5px">
                @Html.DisplayFor(model => model.Name)
            </font>
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group" hidden>
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index"type="button" class="btn btn-warning" >Back to List</a> |
                    <input class="btn btn-success" type="submit" asp-for="Status" name="Status" id="Status" value="Approve"></input> |
                    <input class="btn btn-danger" type="submit" asp-for="Status" name="Status" id="Status" value="Reject"></input>
                </div>
            </form>
        </div>
    </div>
    @* <div class="row">
        <div class="col-md-4">
        <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select class = "form-control"asp-for="Status" name="Status" id="Status">
        <option value="Customer">Approve</option>
        <option value="Store Owner">Reject</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <hr /><hr />
        <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
        </div>
        </div> *@
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
