@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<section class="bg0 p-t-120 p-b-80">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>