@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_MyLayout";
}
<section class="vh-100 p-t-120 p-b-40">
    <div class="container py-5 h-100">
        <section>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">

                            <h3 class="mb-4 text-center">Sign in</h3>
                            <form id="account" method="post">
                                <h3></h3>
                                <hr>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                        aria-required="true"/>

                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                                        aria-required="true" />

                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="form-check d-flex justify-content-start mb-6">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark">Log
                                        in</button>
                                </div>
                                <hr>
                                <div>
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your
                                            password?</a>
                                    </p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a
                                            new
                                            user</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                                            confirmation</a>
                                    </p>
                                </div>
                            </form>
        </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
</div>
</section>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
