@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/UserRoles/Index">
                            <i class="fa fa-building"></i> Manage Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/RoleManager/Index">
                            <i class="fa fa-user"></i> Add Role
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Categories/Index">
                            <i class="fa fa-building"></i> Manage Categories
                        </a>
                    </li>
                </ul>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-dark btn-block">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <h1>Role Manager</h1>
    <form method="post" asp-action="AddRole" asp-controller="RoleManager">
        <hr>
        <h4>Add new Role</h4>

        <div class="input-group">
            <input name="roleName" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info">Add New Role</button>
            </span>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                </tr>
            }

        </tbody>
    </table>
</div>
